.nav-container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}

.nav-logo {
  width: 10%;
  float: left;
}

.nav-menu {
line-height: 60px;
}

.nav-menu ul {
list-style-type: none;
}

.nav-menu ul li {
display: inline;
padding: 1%;
font-weight: bold;
}

a {
color: #ff6b81;
text-decoration: none;
}

a:hover {
color: #ff4757;
}